@mixin alert($text-color, $background) {
  width: 100px;
  height: 100px;
  background: $background;

  a {
    color: darken($text-color, 10%);
  }
}

.alert-warning {
  @include alert(#fff, #aaa);
}

.alert-info {
  @include alert($background:red, $text-color:blue);
}